.contenedor {
    border: 1px solid #8306BD;
    height: 100vh;
    overflow-y: auto; 
    scrollbar-width: none; 
  }
  
  .contenedor::-webkit-scrollbar {
    display: none; 
  }
  
  .imgPersona {
    border-radius: 100%;
  }
  
  .personas {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .textConect {
    margin-top: 40px;
  }